In [1]:
import pandas as pd
from difflib import get_close_matches as gcm

skills = 'skills/Skills v3.xlsx'

In [2]:
excel_file = pd.ExcelFile(skills)
dfs = {sheet_name: excel_file.parse(sheet_name) for sheet_name in excel_file.sheet_names}
df_all = pd.DataFrame(columns=['Skill', 'Domain'])

for key, df in dfs.items():
    df['Domain'] = key
    df_all = df_all.append(df.drop_duplicates())

df_all.head()

                 Skill Domain
0      Applied Science      D
1  Arts and Humanities      D
2             Business      D
3     Computer Science      D
4         Data Science      D

In [3]:
v = df_all['Skill'].value_counts()
df_dup = df_all[df_all['Skill'].isin(v.index[v.gt(1)])].sort_values(by='Skill')
df_dup.head()

Empty DataFrame
Columns: [Skill, Domain]
Index: []

In [4]:
df_dup

Empty DataFrame
Columns: [Skill, Domain]
Index: []