In [1]:
import json
import string
import pandas as pd
import re
import difflib
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime as dt
from nltk import ngrams
from langdetect import detect, DetectorFactory
from difflib import get_close_matches as gcm

In [2]:
skills = pd.read_csv('skills_db2/skill.csv')
skills.head()

   Id                 Skill  DomainId
0   0    Account Receivable         2
1   1           Accountancy         2
2   2            Accounting         2
3   3   Accounting Software         2
4   4  Accounting Standards         2

In [3]:
SKILLS = skills['Skill'].tolist()
len(SKILLS)

3130

In [4]:
with open('resource/job_infos_scrape.json') as f:
    jobs = json.load(f)

len(jobs)

19680

In [5]:
jobs['0']

{'title': 'SALES ASSOCIATE',
 'job_details': '* Under supervision and perform duties to provide technical product assistance/knowledge to customers in order to generate new and repeat sales.\n* Assist customers in the selection of the best products that suited to their needs and desires and explain use, operation, care of the merchandise products and services to customers.\n* Explain the terms of sales, availability of the product and delivery dates and related information and process orders to customers.\n* Handle customers inquiries and complaint.\n* Keep display items clean and displayable and overall cleanliness of the branch.\n* To  handle  any  other  job  as  may be  assigned  by  the  superior.\n\nLocation : Tropicana Aman, Denai Alam, Wisma WCC, Puchong, Bandar Botanik, Sri Petaling, Pandan Indah, Rawang, Sungai Buloh, Kota Damansara, Kajang, Bangi , Balakong, USJ Taipan, Kota Kemuning, Shah Alam.',
 'requirement': 'Permanent| 3 Shift Time |STPM / A Level or Equivalent|Today',
 'company': 'GLOBAL PSYTECH SDN BHD\n|\nCyberjaya',
 'company_details': "Retail trade, except of motor vehicles and motorcycles\n50-250 employees\nShah Alam\nHLK (Chain-Store) Sdn Bhd is one of the market-leading electrical appliances chain store in Malaysia. Currently, we have 15 branches over Klang Valley & outstation and are still expending. Our vision is to provide innovative products and services which meet or exceed the customer's expectations in the local community and continual improvement by all levels of employees.\n \nWe are looking forward for an enthusiasm, dynamic, goal-oriented, aggressive and commercial-minded candidates to join our company and to be part of our growing team. \n "}

In [6]:
rs = []
i = 0

for j in jobs:
    rs.append(jobs[j]['requirement'].split('|')[2])

set(rs)

{"Bachelor's or Equivalent",
 'Diploma / Advanced Diploma / Higher Graduate Diploma / DVM / DKM Level 4 / DLKM Level 5',
 'Diploma / Advanced Diploma / Higher Graduate Diploma / DVM /…',
 'Diploma / Advanced Diploma / Higher Graduate…',
 'Doctoral (PhD) or Equivalent',
 "Master's or Equivalent",
 'PMR / PT3 or Equivalent',
 'Primary Education or Below',
 'SPM / O Level / SKM Level 1 / SKM Level 2 / SKM Level 3 or Equivalent',
 'SPM / O Level / SKM Level 1 / SKM Level 2 / SKM Level 3 or…',
 'STPM / A Level or Equivalent'}

In [7]:
df_jobs = pd.DataFrame.from_dict(jobs).transpose().reset_index()
df_jobs.head()

,index,title,job_details,requirement,company,company_details
0,0,SALES ASSOCIATE,* Under supervision and perform duties to prov...,Permanent| 3 Shift Time |STPM / A Level or Equ...,GLOBAL PSYTECH SDN BHD\n|\nCyberjaya,"Retail trade, except of motor vehicles and mot..."
1,1,SIGN HOUSE ADVERTISING,Kelebihan diberi kepada yang mempunyai kemahir...,Permanent| Normal Hour |Bachelor's or Equivale...,MR DIY (M) SDN BHD\n|\nSeremban,"Advertising and market research, Printing and ..."
2,2,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent| Flexible Hours |Diploma / Advanced ...,INTER-EXCEL ADVISORY SDN BHD\n|\nKuala Lumpur,"Retail trade, except of motor vehicles and mot..."
3,3,Petugas PDK,"1. Bertanggungjawab kepada penyelia PDK, jawat...",Permanent| Normal Hour |Bachelor's or Equivale...,IOI PLANTATION SERVICES SDN BHD\n|\nPutrajaya,"Education, Office administrative, office suppo..."
4,4,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent| 3 Shift Time |SPM / O Level / SKM L...,QL Ansan Poultry Farm Sdn Bhd\n|\nPadang Serai,"Retail trade, except of motor vehicles and mot..."

In [8]:
df_unique = df_jobs.drop_duplicates(subset=['title', 'job_details'])
df_unique.head()

,index,title,job_details,requirement,company,company_details
0,0,SALES ASSOCIATE,* Under supervision and perform duties to prov...,Permanent| 3 Shift Time |STPM / A Level or Equ...,GLOBAL PSYTECH SDN BHD\n|\nCyberjaya,"Retail trade, except of motor vehicles and mot..."
1,1,SIGN HOUSE ADVERTISING,Kelebihan diberi kepada yang mempunyai kemahir...,Permanent| Normal Hour |Bachelor's or Equivale...,MR DIY (M) SDN BHD\n|\nSeremban,"Advertising and market research, Printing and ..."
2,2,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent| Flexible Hours |Diploma / Advanced ...,INTER-EXCEL ADVISORY SDN BHD\n|\nKuala Lumpur,"Retail trade, except of motor vehicles and mot..."
3,3,Petugas PDK,"1. Bertanggungjawab kepada penyelia PDK, jawat...",Permanent| Normal Hour |Bachelor's or Equivale...,IOI PLANTATION SERVICES SDN BHD\n|\nPutrajaya,"Education, Office administrative, office suppo..."
5,5,Vacancy For Technician,Engineering assistants ensure the administrati...,Permanent| 3 Shift Time |SPM / O Level / SKM L...,HLK (Chain-Store) Sdn. Bhd\n|\nShah Alam,"Civil engineering, Construction of buildings\n..."

In [9]:
len(df_unique)

8184

In [10]:
def extract_skills(info, threshold=0.9):
    words, bigrams, trigrams = clean_info(info)
    results = []
    for skill in SKILLS:
        s = skill.lower()
        if '(' in s:
            abb = s[s.find("(")+1:s.find(")")].upper()
            if abb in info:
                results.append(skill)
                continue
            s = re.sub(r"[\(].*?[\)]", "", s)
        s2 = s.split()
        if len(s2) == 1:
            if len(gcm(s, words, cutoff=threshold)) > 0:
                results.append(skill)
        elif len(s2) == 2:
            if len(gcm(s, bigrams, cutoff=threshold)) > 0:
                results.append(skill)
        elif len(s2) == 3:
            if len(gcm(s, trigrams, cutoff=threshold)) > 0:
                results.append(skill)
        else:
            if len(gcm(s, trigrams, cutoff=threshold)) > 0:
                results.append(skill)
    return results

def extract_ignore(skills):
    ignore_skills = []
    for j, skill in enumerate(skills):
        if skill in RED_SKILLS:
            ignore_skills.append(skill)
        else:
            for other in skills[:j] + skills[j+1:]:
                if skill in other:
                    if find_whole_word(skill, other):
                        ignore_skills.append(skill)
                        break
    job_skills = [s for s in skills if s not in ignore_skills]
    return job_skills, ignore_skills

def clean_info(info):
    # Remove ordered list with alphabets: a), b), c),...
    words = re.sub(r'[\s\t\n]+[a-zA-Z\s*]\)+', ' ', info)
    words = re.sub('[\n|,|.|\-|/|\(|\)]', ' ', words).lower().split()
    #words = re.findall(r'[a-zA-Z](?:[A-Z]*(?![a-z])|[a-z]*)', words)
    words = [word.strip() for word in words]
    bigrams = [' '.join(g) for g in ngrams(words, 2)]
    trigrams = [' '.join(g) for g in ngrams(words, 3)]
    return words, bigrams, trigrams

def check_skill(skill):
    return df_skills.loc[df_skills['skill'].str.contains(skill)]

def find_whole_word(search_string, input_string):
    raw_search_string = r"\b" + search_string + r"\b"
    match_output = re.search(raw_search_string, input_string)
    no_match_was_found = ( match_output is None )
    if no_match_was_found:
        return False
    else:
        return True

In [13]:
i = 0
job_info_list = []
DetectorFactory.seed = 42
initial = dt.now()
interval = dt.now()
print_every = 200

for _, job in df_unique.iterrows():
    i += 1
    if i % print_every == 0:
        print("{} jobs processed. Time taken: {}".format(i, dt.now() - interval))
        interval = dt.now()
    all_info = job['title'] + ' ' + job['job_details']
    """
    if len(job['job_details']) < 3:
        language = None
    else:
        language = detect(job['job_details'])
    """
    skills = extract_skills(all_info)
    job_info_list.append({
        'title': job['title'],
        'job_details': job['job_details'],
        # 'language': language,
        'skills': skills,
        'no_skills': len(skills)
    })

print("Total time taken: {}".format(dt.now() - initial))

200 jobs processed. Time taken: 0:01:47.259692
400 jobs processed. Time taken: 0:01:47.759099
600 jobs processed. Time taken: 0:01:39.624884
800 jobs processed. Time taken: 0:01:46.199075
1000 jobs processed. Time taken: 0:01:55.629531
1200 jobs processed. Time taken: 0:01:36.869010
1400 jobs processed. Time taken: 0:01:45.090556
1600 jobs processed. Time taken: 0:01:24.589232
1800 jobs processed. Time taken: 0:02:10.575579
2000 jobs processed. Time taken: 0:02:27.131106
2200 jobs processed. Time taken: 0:01:41.005656
2400 jobs processed. Time taken: 0:01:04.182292
2600 jobs processed. Time taken: 0:00:57.129253
2800 jobs processed. Time taken: 0:01:38.619710
3000 jobs processed. Time taken: 0:01:23.460874
3200 jobs processed. Time taken: 0:01:47.502877
3400 jobs processed. Time taken: 0:02:08.018805
3600 jobs processed. Time taken: 0:01:58.408852
3800 jobs processed. Time taken: 0:01:39.676320
4000 jobs processed. Time taken: 0:01:43.324832
4200 jobs processed. Time taken: 0:01:31.587471
4400 jobs processed. Time taken: 0:01:30.206692
4600 jobs processed. Time taken: 0:01:41.943603
4800 jobs processed. Time taken: 0:01:43.384159
5000 jobs processed. Time taken: 0:01:44.739518
5200 jobs processed. Time taken: 0:01:38.651141
5400 jobs processed. Time taken: 0:02:00.390889
5600 jobs processed. Time taken: 0:01:46.229702
5800 jobs processed. Time taken: 0:01:15.710232
6000 jobs processed. Time taken: 0:02:03.360241
6200 jobs processed. Time taken: 0:01:43.300440
6400 jobs processed. Time taken: 0:01:53.491865
6600 jobs processed. Time taken: 0:01:17.568931
6800 jobs processed. Time taken: 0:01:39.995729
7000 jobs processed. Time taken: 0:01:33.886797
7200 jobs processed. Time taken: 0:01:34.896505
7400 jobs processed. Time taken: 0:01:20.804601
7600 jobs processed. Time taken: 0:01:46.809033
7800 jobs processed. Time taken: 0:01:36.756305
8000 jobs processed. Time taken: 0:02:03.613460
Total time taken: 1:09:57.779592

In [27]:
df = pd.DataFrame.from_dict(job_info_list)
df.head()

,title,job_details,skills,no_skills
0,SALES ASSOCIATE,* Under supervision and perform duties to prov...,"[Product, Sales, Service, Selection, Operations]",5
1,SIGN HOUSE ADVERTISING,Kelebihan diberi kepada yang mempunyai kemahir...,"[Advertising, Adobe Illustrator, Adobe Photoshop]",3
2,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...","[Distribution, Operations]",2
3,Petugas PDK,"1. Bertanggungjawab kepada penyelia PDK, jawat...",[],0
4,Vacancy For Technician,Engineering assistants ensure the administrati...,"[Administration, Engineering]",2

In [28]:
df2 = df_jobs.merge(df, on=['title', 'job_details'], how='left')
df2.head()

,index,title,job_details,requirement,company,company_details,skills,no_skills
0,0,SALES ASSOCIATE,* Under supervision and perform duties to prov...,Permanent| 3 Shift Time |STPM / A Level or Equ...,GLOBAL PSYTECH SDN BHD\n|\nCyberjaya,"Retail trade, except of motor vehicles and mot...","[Product, Sales, Service, Selection, Operations]",5
1,1,SIGN HOUSE ADVERTISING,Kelebihan diberi kepada yang mempunyai kemahir...,Permanent| Normal Hour |Bachelor's or Equivale...,MR DIY (M) SDN BHD\n|\nSeremban,"Advertising and market research, Printing and ...","[Advertising, Adobe Illustrator, Adobe Photoshop]",3
2,2,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent| Flexible Hours |Diploma / Advanced ...,INTER-EXCEL ADVISORY SDN BHD\n|\nKuala Lumpur,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2
3,3,Petugas PDK,"1. Bertanggungjawab kepada penyelia PDK, jawat...",Permanent| Normal Hour |Bachelor's or Equivale...,IOI PLANTATION SERVICES SDN BHD\n|\nPutrajaya,"Education, Office administrative, office suppo...",[],0
4,4,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent| 3 Shift Time |SPM / O Level / SKM L...,QL Ansan Poultry Farm Sdn Bhd\n|\nPadang Serai,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2

In [29]:
df2.isnull().sum()

index              0
title              0
job_details        0
requirement        0
company            0
company_details    0
skills             0
no_skills          0
dtype: int64

In [30]:
df_lan = pd.read_csv('myfuturejobs-insights/v0/myfuturejobs_skills2.csv')
df2['language'] = df_lan['language']
df2.head()

,index,title,job_details,requirement,company,company_details,skills,no_skills,language
0,0,SALES ASSOCIATE,* Under supervision and perform duties to prov...,Permanent| 3 Shift Time |STPM / A Level or Equ...,GLOBAL PSYTECH SDN BHD\n|\nCyberjaya,"Retail trade, except of motor vehicles and mot...","[Product, Sales, Service, Selection, Operations]",5,en
1,1,SIGN HOUSE ADVERTISING,Kelebihan diberi kepada yang mempunyai kemahir...,Permanent| Normal Hour |Bachelor's or Equivale...,MR DIY (M) SDN BHD\n|\nSeremban,"Advertising and market research, Printing and ...","[Advertising, Adobe Illustrator, Adobe Photoshop]",3,id
2,2,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent| Flexible Hours |Diploma / Advanced ...,INTER-EXCEL ADVISORY SDN BHD\n|\nKuala Lumpur,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2,en
3,3,Petugas PDK,"1. Bertanggungjawab kepada penyelia PDK, jawat...",Permanent| Normal Hour |Bachelor's or Equivale...,IOI PLANTATION SERVICES SDN BHD\n|\nPutrajaya,"Education, Office administrative, office suppo...",[],0,id
4,4,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent| 3 Shift Time |SPM / O Level / SKM L...,QL Ansan Poultry Farm Sdn Bhd\n|\nPadang Serai,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2,en

## Data Cleaning

In [31]:
df3 = df2.copy()
df3[['job_type', 'education_requirement']] = df2['requirement'].str.split('|', expand=True)[[0, 2]]
cols = df3.columns.tolist()
cols = cols[:3] + cols[-2:] + [cols[-3]] + cols[4:-3]
df3 = df3[cols]
df3.head()

,index,title,job_details,job_type,education_requirement,language,company,company_details,skills,no_skills
0,0,SALES ASSOCIATE,* Under supervision and perform duties to prov...,Permanent,STPM / A Level or Equivalent,en,GLOBAL PSYTECH SDN BHD\n|\nCyberjaya,"Retail trade, except of motor vehicles and mot...","[Product, Sales, Service, Selection, Operations]",5
1,1,SIGN HOUSE ADVERTISING,Kelebihan diberi kepada yang mempunyai kemahir...,Permanent,Bachelor's or Equivalent,id,MR DIY (M) SDN BHD\n|\nSeremban,"Advertising and market research, Printing and ...","[Advertising, Adobe Illustrator, Adobe Photoshop]",3
2,2,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent,Diploma / Advanced Diploma / Higher Graduate…,en,INTER-EXCEL ADVISORY SDN BHD\n|\nKuala Lumpur,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2
3,3,Petugas PDK,"1. Bertanggungjawab kepada penyelia PDK, jawat...",Permanent,Bachelor's or Equivalent,id,IOI PLANTATION SERVICES SDN BHD\n|\nPutrajaya,"Education, Office administrative, office suppo...",[],0
4,4,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent,SPM / O Level / SKM Level 1 / SKM Level 2 / SK...,en,QL Ansan Poultry Farm Sdn Bhd\n|\nPadang Serai,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2

In [32]:
df3['education_requirement'].unique().tolist()

['STPM / A Level or Equivalent',
 "Bachelor's or Equivalent",
 'Diploma / Advanced Diploma / Higher Graduate…',
 'SPM / O Level / SKM Level 1 / SKM Level 2 / SKM Level 3 or…',
 'SPM / O Level / SKM Level 1 / SKM Level 2 / SKM Level 3 or Equivalent',
 'Diploma / Advanced Diploma / Higher Graduate Diploma / DVM /…',
 'Primary Education or Below',
 'PMR / PT3 or Equivalent',
 'Diploma / Advanced Diploma / Higher Graduate Diploma / DVM / DKM Level 4 / DLKM Level 5',
 "Master's or Equivalent",
 'Doctoral (PhD) or Equivalent']

In [33]:
df3['education'] = df3['education_requirement'].replace({
    'Primary Education or Below': '1 - Primary Education',
    'PMR / PT3 or Equivalent': '2 - PMR / PT3',
    'SPM / O Level / SKM Level 1 / SKM Level 2 / SKM Level 3 or…': '3 - SPM / O Level / SKM',
    'SPM / O Level / SKM Level 1 / SKM Level 2 / SKM Level 3 or Equivalent': '3 - SPM / O Level / SKM',
    'STPM / A Level or Equivalent': '4 - STPM / A Level',
    'Diploma / Advanced Diploma / Higher Graduate…': '5 - Diploma / DVM',
    'Diploma / Advanced Diploma / Higher Graduate Diploma / DVM /…': '5 - Diploma / DVM',
    'Diploma / Advanced Diploma / Higher Graduate Diploma / DVM / DKM Level 4 / DLKM Level 5': '5 - Diploma / DVM',
    "Bachelor's or Equivalent": "6 - Bachelor's",
    "Master's or Equivalent": "7 - Master's",
    'Doctoral (PhD) or Equivalent': '8 - Doctoral (PhD)'
})
df3.head()

,index,title,job_details,job_type,education_requirement,language,company,company_details,skills,no_skills,education
0,0,SALES ASSOCIATE,* Under supervision and perform duties to prov...,Permanent,STPM / A Level or Equivalent,en,GLOBAL PSYTECH SDN BHD\n|\nCyberjaya,"Retail trade, except of motor vehicles and mot...","[Product, Sales, Service, Selection, Operations]",5,4 - STPM / A Level
1,1,SIGN HOUSE ADVERTISING,Kelebihan diberi kepada yang mempunyai kemahir...,Permanent,Bachelor's or Equivalent,id,MR DIY (M) SDN BHD\n|\nSeremban,"Advertising and market research, Printing and ...","[Advertising, Adobe Illustrator, Adobe Photoshop]",3,6 - Bachelor's
2,2,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent,Diploma / Advanced Diploma / Higher Graduate…,en,INTER-EXCEL ADVISORY SDN BHD\n|\nKuala Lumpur,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2,5 - Diploma / DVM
3,3,Petugas PDK,"1. Bertanggungjawab kepada penyelia PDK, jawat...",Permanent,Bachelor's or Equivalent,id,IOI PLANTATION SERVICES SDN BHD\n|\nPutrajaya,"Education, Office administrative, office suppo...",[],0,6 - Bachelor's
4,4,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent,SPM / O Level / SKM Level 1 / SKM Level 2 / SK...,en,QL Ansan Poultry Farm Sdn Bhd\n|\nPadang Serai,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2,3 - SPM / O Level / SKM

In [34]:
df3['language'].unique()

array(['en', 'id', 'fr', nan, 'de', 'so', 'sv', 'sw', 'nl', 'tl', 'ca',
       'ro', 'it', 'cy', 'af', 'da', 'et', 'es', 'vi', 'fi', 'no', 'tr',
       'ko', 'zh-cn', 'sl', 'pt', 'hr'], dtype=object)

In [35]:
languages = ['English', 'Others']
df3.loc[df3['language'] == 'en', 'job_language'] = 'English'
df3.loc[df3['language'] != 'en', 'job_language'] = 'Others'
df3.head()

,index,title,job_details,job_type,education_requirement,language,company,company_details,skills,no_skills,education,job_language
0,0,SALES ASSOCIATE,* Under supervision and perform duties to prov...,Permanent,STPM / A Level or Equivalent,en,GLOBAL PSYTECH SDN BHD\n|\nCyberjaya,"Retail trade, except of motor vehicles and mot...","[Product, Sales, Service, Selection, Operations]",5,4 - STPM / A Level,English
1,1,SIGN HOUSE ADVERTISING,Kelebihan diberi kepada yang mempunyai kemahir...,Permanent,Bachelor's or Equivalent,id,MR DIY (M) SDN BHD\n|\nSeremban,"Advertising and market research, Printing and ...","[Advertising, Adobe Illustrator, Adobe Photoshop]",3,6 - Bachelor's,Others
2,2,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent,Diploma / Advanced Diploma / Higher Graduate…,en,INTER-EXCEL ADVISORY SDN BHD\n|\nKuala Lumpur,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2,5 - Diploma / DVM,English
3,3,Petugas PDK,"1. Bertanggungjawab kepada penyelia PDK, jawat...",Permanent,Bachelor's or Equivalent,id,IOI PLANTATION SERVICES SDN BHD\n|\nPutrajaya,"Education, Office administrative, office suppo...",[],0,6 - Bachelor's,Others
4,4,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent,SPM / O Level / SKM Level 1 / SKM Level 2 / SK...,en,QL Ansan Poultry Farm Sdn Bhd\n|\nPadang Serai,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2,3 - SPM / O Level / SKM,English

In [36]:
df_red = pd.read_excel('skills/Redundant Skills.xlsx')
RED_SKILLS = df_red['Skill'].unique().tolist()
df_red.head()

        Skill
0     Service
1     Product
2  Operations
3     Support
4    Business

In [37]:
for i, row in df3.iterrows():
    skills = row['skills']
    job_skills, ignore_skills = extract_ignore(skills)
    df3.loc[i, ['job_skills', 'no_job_skills', 'ignore_skills', 'no_ignore_skills']] = \
           ['; '.join(job_skills), len(job_skills), '; '.join(ignore_skills), len(ignore_skills)]

df3.head()

,index,title,job_details,job_type,education_requirement,language,company,company_details,skills,no_skills,education,job_language,job_skills,no_job_skills,ignore_skills,no_ignore_skills
0,0,SALES ASSOCIATE,* Under supervision and perform duties to prov...,Permanent,STPM / A Level or Equivalent,en,GLOBAL PSYTECH SDN BHD\n|\nCyberjaya,"Retail trade, except of motor vehicles and mot...","[Product, Sales, Service, Selection, Operations]",5,4 - STPM / A Level,English,Sales; Selection,2.0,Product; Service; Operations,3.0
1,1,SIGN HOUSE ADVERTISING,Kelebihan diberi kepada yang mempunyai kemahir...,Permanent,Bachelor's or Equivalent,id,MR DIY (M) SDN BHD\n|\nSeremban,"Advertising and market research, Printing and ...","[Advertising, Adobe Illustrator, Adobe Photoshop]",3,6 - Bachelor's,Others,Advertising; Adobe Illustrator; Adobe Photoshop,3.0,,0.0
2,2,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent,Diploma / Advanced Diploma / Higher Graduate…,en,INTER-EXCEL ADVISORY SDN BHD\n|\nKuala Lumpur,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2,5 - Diploma / DVM,English,,0.0,Distribution; Operations,2.0
3,3,Petugas PDK,"1. Bertanggungjawab kepada penyelia PDK, jawat...",Permanent,Bachelor's or Equivalent,id,IOI PLANTATION SERVICES SDN BHD\n|\nPutrajaya,"Education, Office administrative, office suppo...",[],0,6 - Bachelor's,Others,,0.0,,0.0
4,4,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent,SPM / O Level / SKM Level 1 / SKM Level 2 / SK...,en,QL Ansan Poultry Farm Sdn Bhd\n|\nPadang Serai,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2,3 - SPM / O Level / SKM,English,,0.0,Distribution; Operations,2.0

In [38]:
df4 = df3.copy()
cols = df4.columns.tolist()
cols = cols[:4] + cols[-2:] + cols[6:]
df4 = df4[cols]
df4.head()

,index,title,job_details,job_type,ignore_skills,no_ignore_skills,company,company_details,skills,no_skills,education,job_language,job_skills,no_job_skills,ignore_skills,no_ignore_skills
0,0,SALES ASSOCIATE,* Under supervision and perform duties to prov...,Permanent,Product; Service; Operations,3.0,GLOBAL PSYTECH SDN BHD\n|\nCyberjaya,"Retail trade, except of motor vehicles and mot...","[Product, Sales, Service, Selection, Operations]",5,4 - STPM / A Level,English,Sales; Selection,2.0,Product; Service; Operations,3.0
1,1,SIGN HOUSE ADVERTISING,Kelebihan diberi kepada yang mempunyai kemahir...,Permanent,,0.0,MR DIY (M) SDN BHD\n|\nSeremban,"Advertising and market research, Printing and ...","[Advertising, Adobe Illustrator, Adobe Photoshop]",3,6 - Bachelor's,Others,Advertising; Adobe Illustrator; Adobe Photoshop,3.0,,0.0
2,2,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent,Distribution; Operations,2.0,INTER-EXCEL ADVISORY SDN BHD\n|\nKuala Lumpur,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2,5 - Diploma / DVM,English,,0.0,Distribution; Operations,2.0
3,3,Petugas PDK,"1. Bertanggungjawab kepada penyelia PDK, jawat...",Permanent,,0.0,IOI PLANTATION SERVICES SDN BHD\n|\nPutrajaya,"Education, Office administrative, office suppo...",[],0,6 - Bachelor's,Others,,0.0,,0.0
4,4,MR DIY (M) SDN BHD,"Receive stock, checking & distribution item re...",Permanent,Distribution; Operations,2.0,QL Ansan Poultry Farm Sdn Bhd\n|\nPadang Serai,"Retail trade, except of motor vehicles and mot...","[Distribution, Operations]",2,3 - SPM / O Level / SKM,English,,0.0,Distribution; Operations,2.0

In [39]:
df4.to_csv('myfuturejobs-insights/myfuturejobs_skills2.csv', index=False)